In [1]:
import pandas as pd
import requests
import numpy as np
from scipy import stats
import math
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('sp_500_stocks.csv')
df

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [24]:
from secrets import IEX_CLOUD_API_TOKEN

def chunks(lst, n):
    
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
symbols = []
symbol_groups = list(chunks(df['Ticker'], 100))

for i in range (len(symbol_groups)):
    symbols.append(','.join(symbol_groups[i]))

for name in symbols:
    # print(name)
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={name}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url).json()

In [25]:
final = pd.DataFrame.from_dict(data['ZBH'])
final

,stats,quote
companyName,Zimmer Biomet Holdings Inc,Zimmer Biomet Holdings Inc
marketcap,24724455123,NaN
week52high,139.64,NaN
week52low,104.11,NaN
week52highSplitAdjustOnly,138.41,NaN
...,...,...
volume,NaN,None
week52High,NaN,139.48
week52Low,NaN,101.42
ytdChange,NaN,-0.094734
isUSMarketOpen,NaN,True